<div class = "col-md-6.mx-auto">
  <div class="form-inline">
    <span>
      <%= notification.visitor.name %>さん
    </span>
      <% case notification.action %>
      <% when 'follow' then %>
        <%= "とマッチしました" %>
      <% else %>
      <%= "からメッセージが届きました。" %>
      <% end %>
  </div>
  <div class="small.text-muted.text-right">
   <%= time_ago_in_words(notification.created_at).upcase %>
  </div>
</div>