<div>
  <div align="center">
    <span>
      <%= notification.visitor.name %>さん
    </span>
      <% case notification.action %>
      <% when 'follow' then %>
        <%= "とマッチングしました" %>
      <% else %>
      <%= "からメッセージが届きました。" %>
      <% end %>
      <%= time_ago_in_words(notification.created_at).upcase %>前
  </div>
</div>