    <h1>eFriendsとは</h1>
    <p class="lead">「一緒にゲームをする友達が欲しい」</br>そんな時に手軽に同じ目的の相手を見つけることができるマッチングサービスです。</p>
    <p class="lead">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>または
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
    </p>