// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fa-circle {
  font-size: 0.5em;
  margin-top: 0.5rem;
  margin-left: 1rem;
  padding-right: 0.3rem;
  color : lime;
}